.titulo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    background-color: darkred;
    
}
.lista{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
font-weight: bold;
color:sienna;
}
body{
    background-color: blanchedalmond;
    background-image: -moz-element();    
}
.ref{
    color: brown;
    font-variant: small-caps;
    
}
.imagen{
        display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
}
.titulo2, .titulo3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:chocolate;
}
.parrafo{
    font-family: cursive;
    color: olive;
    font-size: xx-large;
}

h4{
    color: #64310c;
}